<app-navbar></app-navbar>
<div class="container-fluid color" style="min-height: 100%">
  <div class="container" style="padding-bottom: 10px; padding-top: 100px">
    <app-navbar></app-navbar>
    <div style="height: 100%">
      <h1 class="text-center" style="margin-bottom: 50px; color: #f2f9f1">
        Acerca de esta aplicación
      </h1>
      <h3 style="color: #f2f9f1; text-align: justify">
        Aplicación diseñada para el Centro de Estudios en Salud (CES) por estudiantes de la
        Universidad del Valle de Guatemala, que permite agilizar el proceso de
        conteo y clasificación de huevos de mosquito y de igual manera permite
        predecir la viabilidad de los huevos de mosquito según una población,
        todo esto utilizando inteligencia artificial.
      </h3>
    </div>
  </div>
</div>
