.color {
  background-color: #8bc34a;
}

.custom-header {
  background-color: #388e3c;
}

.custom-header th {
  background-color: #388e3c;
  color: #f2f9f1;
}

.custom-body {
  background-color: #ddeedf;
}
