
.color{
    background-color: #8BC34A
;
}

.custom-header {
    background-color: #388E3C; /* Cambia este color al que desees */
  }

.custom-header th{
    background-color: #388E3C; /* Cambia este color al que desees */
    color: #F2F9F1;

  }

.custom-body {
    background-color: #DDEEDF;
  }

