<div class="container-fluid color" style= "min-height: 100%">

    <div class="container" style=" padding-bottom: 10px; padding-top: 100px;">
        <app-navbar></app-navbar>
        <div  style="height: 100%;">
            <h1 class="text-center" style="margin-bottom: 50px; color: #F2F9F1;" > Historial de Detecciones </h1>
    
            <nz-table nzTableLayout="fixed" nzShowSizeChanger [nzData]="listOfRandomUser" [nzFrontPagination]="false"
            [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
              <tr class="custom-header"> <!-- Agrega la clase custom-header aquí -->
                <th nzAlign="center" nzColumnKey="name" [nzSortFn]="true">Nombre</th>
                <th nzAlign="center" nzColumnKey="gender" [nzFilters]="filterGender" [nzFilterFn]="true">Fecha</th>
                <th nzAlign="center" nzColumnKey="email" [nzSortFn]="true">Total</th>
                <th nzAlign="center">Mas</th>

              </tr>
            </thead>
            <tbody class="custom-body">
              <tr *ngFor="let data of listOfRandomUser">
                <td nzAlign="center">{{ data.name.first }} {{ data.name.last }}</td>
                <td nzAlign="center">{{ data.gender }}</td>
                <td nzAlign="center">{{ data.email }}</td>
                <td nzAlign="center">
                    <a style="font-weight: bold; color: rgb(232, 255, 238); text-decoration: underline; color: #388E3C; border-radius: 5px; ">Ver mas</a>
                  </td>
      
              </tr>
            </tbody>
          </nz-table>
        </div>
    </div>
</div>
