<div class="row w-100 h-100 justify-content-center align-items-center flex-column" style="background-color: white; margin-left: 0px; margin-right: 0px; border-style: solid; border-color: #388E3C; border-width: 5px;">
    <h2 class="text-center">CONTEO</h2>
    <div class="table-container">
        <nz-table #editRowTable  #basicTable  nzTableLayout="fixed" [nzScroll]="{ x: '1500px' }" [nzData]="listOfData" [nzShowPagination]="false">
            <thead>
            <tr class="custom-header">
                <th nzAlign="center">Cepa</th>
                <th nzAlign="center">Generación</th>
                <th nzAlign="center">Código Crianza</th>
                <th nzAlign="center">Especie</th>
                <th nzAlign="center">Código Responsable</th>
                <th nzAlign="center">Total Huevos Intactos</th>
                <th nzAlign="center">Acción</th>
            </tr>
            </thead>
            <tbody class="custom-body">
            <tr *ngFor="let data of basicTable.data">
                <ng-container *ngIf="!editCache[data.id].edit; else editTemplateGeneral">
                    <td nzAlign="center">{{ data.cepa }}</td>
                    <td nzAlign="center">{{ data.generacion }}</td>
                    <td nzAlign="center">{{ data.codigo_crianza }}</td>
                    <td nzAlign="center">{{ data.especie }}</td>
                    <td nzAlign="center">{{ data.codigo_responsable }}</td>
                    <td nzAlign="center">{{ data.total_huevos_intactos }}</td>
                    <td style="font-weight: bold; color: #388E3C;" nzAlign="center"><a (click)="startEdit(data.id, 'general')">Editar</a></td>
                </ng-container>

                <ng-template #editTemplateGeneral>
                    <td > <input type="text" nz-input [(ngModel)]="editCache[data.id].data.cepa" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache[data.id].data.generacion" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache[data.id].data.codigo_crianza" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache[data.id].data.especie" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache[data.id].data.codigo_responsable" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache[data.id].data.total_huevos_intactos" /> </td>
                    <td  nzAlign="center" >
                        <a style="margin-right: 10px; font-weight: bold; color:#388E3C;"  (click)="saveEdit(data.id, 'general')"> Guardar</a>
                        <a  style="font-weight: bold; color: #388E3C;" nz-popconfirm nzPopconfirmTitle="Seguro?" (nzOnConfirm)="cancelEdit(data.id, 'general')">Cancelar</a>
                    </td>
                </ng-template>

            </tr>
            </tbody>
        </nz-table>
        
        <br/>

        <nz-table #basicTable2 nzShowSizeChanger nzTableLayout="fixed" [nzScroll]="{ x: '1700px' }" [nzData]="listOfData2" [nzShowPagination]="false">
            <thead>
            <tr class="custom-header">
                <th nzAlign="center">Código Sustrato</th>
                <th nzAlign="center">Fecha Colocación Sustrato</th>
                <th nzAlign="center" >Fecha Retiro Sustrato</th>
                <th nzAlign="center">Huevos Viables</th>
                <th nzAlign="center">Huevos Eclosionados</th>
                <th nzAlign="center">Huevos en Canoa</th>
                <th nzAlign="center">Total de Huevos</th>
                <th nzAlign="center">Generacion Filial</th>
                <th nzAlign="center">Responsable Conteo Huevos</th>
                <th nzAlign="center">Acción</th>

            </tr>
            </thead>
            <tbody class="custom-body">
            <tr *ngFor="let data of basicTable2.data">
                <ng-container *ngIf="!editCache2[data.id].edit; else editTemplateHuevecillos">

                    <td nzAlign="center">{{ data.codigo_sustrato }}</td>
                    <td nzAlign="center">{{ data.fecha_colocacion_sustrato }}</td>
                    <td nzAlign="center">{{ data.fecha_retiro_sustrato }}</td>
                    <td nzAlign="center">{{ data.huevos_intactos }}</td>
                    <td nzAlign="center">{{ data.huevos_eclosionados }}</td>
                    <td nzAlign="center">{{ data.huevos_en_canoa }}</td>
                    <td nzAlign="center">{{ data.total_huevos }}</td>
                    <td nzAlign="center">{{ data.generacion_filial }}</td>
                    <td nzAlign="center">{{ data.responsable_conteo_huevos }}</td>
                    <td style="font-weight: bold; color: #388E3C;" nzAlign="center"><a (click)="startEdit(data.id, 'conteo')">Editar</a></td>
                </ng-container>
                <ng-template #editTemplateHuevecillos>
                    <td > <input type="text" nz-input [(ngModel)]="editCache2[data.id].data.codigo_sustrato" /> </td>
                    <td >  <nz-date-picker [(ngModel)]="editCache2[data.id].data.fecha_colocacion_sustrato" (ngModelChange)="onDateChange(data.id, $event, 'fecha_colocacion_sustrato')"></nz-date-picker>  </td>
                    <td >  <nz-date-picker [(ngModel)]="editCache2[data.id].data.fecha_retiro_sustrato" (ngModelChange)="onDateChange(data.id, $event, 'fecha_retiro_sustrato')"></nz-date-picker>  </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache2[data.id].data.huevos_intactos" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache2[data.id].data.huevos_eclosionados" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache2[data.id].data.huevos_en_canoa" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache2[data.id].data.total_huevos" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache2[data.id].data.generacion_filial" /> </td>
                    <td > <input type="text" nz-input [(ngModel)]="editCache2[data.id].data.responsable_conteo_huevos" /> </td>
                    <td  nzAlign="center" >
                        <a  style="margin-right: 10px; font-weight: bold; color:#388E3C;"  (click)="saveEdit(data.id, 'conteo')"> Guardar</a>
                        <a  style="font-weight: bold; color: #388E3C;" nz-popconfirm nzPopconfirmTitle="Seguro?" (nzOnConfirm)="cancelEdit(data.id, 'conteo')">Cancelar</a>
                    </td>
                </ng-template>

            </tr>
            </tbody>
        </nz-table>
        
    </div>
    <div class="buttons-container d-flex flex-row">
        <button>Predecir</button>
        <button>Guardar</button>
        <button (click)="onClose()">Regresar</button>
    </div>
</div>