
.custom-nav-ul {
    margin-right: 5px; 
  }

.custom-navbar-logo {
    padding-left: 20px;
}

.custom-color{
    background-color: #388E3C;
    
}

a{
    font-weight: bold;   
}

.active-link {
    color: #cffd00 !important;
  }

  