<header>
<nav class="navbar navbar-expand-md navbar-dark fixed-top custom-color">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0 custom-nav-ul">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home" routerLinkActive="active-link">Realizar Conteo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/history-list" routerLinkActive="active-link">Historial</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/about-us" routerLinkActive="active-link">Acerca de</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-md-0 custom-nav-ul">
            <li class="nav-item">
              <a (click)="logout()">Desconectar</a>
            </li>
          </ul>
      </div>
    </div>
  </nav>
</header>