.color {
  background-color: #8bc34a;
}

.custom-header {
  background-color: #388e3c; /* Cambia este color al que desees */
}

.custom-header th {
  background-color: #388e3c; /* Cambia este color al que desees */
  color: #f2f9f1;
}

.custom-body {
  background-color: #ddeedf;
}

.table-container {
  overflow-x: auto;
  width: 100%; /* O ajusta el ancho según tus necesidades */
}
